
.register {
    width: 400px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    text-align: center;
    font-family: "poppins";
}

.register h1, .or {
    color: #1f3042;
}

.register > input {
    border-radius: 20px;
    border: 2px solid #dddfe2;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button {
    background: #dee7ec;
    border: 1px solid #dee7ec;
    color: #889eab;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: .8s;
}

.register > .button:hover {
    background-color: #ff4a4a;
    color: #fff;
}

.register > .buttonLogin {
    background: #83a843;
    border: 1px solid #83a843;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: .8s;
}

.register > .buttonLogin:hover {
    background-color: #1f3042;
    color: #fff;
}